.container{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);



}
.heading{
  color: #000;
  font-weight: 600;
  font-size: 2rem;
}
.inputContainer{
  display: flex;
  gap: 2rem;
}
.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: end;
}
.button{
  width: 3rem;
}
.input {
  color: #000;
  font-family: "SF Pro";
  width: 300px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}
  
.input:focus {
  box-shadow: 5.5px 7px 0 black;
}