@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue:#90B5DA;
  --dark-blue:#244B73;
  --light: white;
  --dark: #181510;
  --yellow: #FFC107;
  --red: #E9242C;
  --green:#1D8B2C;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue:#90B5DA;
    --dark-blue:#244B73;
    --light: white;
    --dark: #212121;
    --yellow:#FFC107;
    --red:#E9242C;
    --green:#1D8B2C;
  
    
  }
}

body {
  font-family: "Montserrat", "sans-serif";
  color: var(--color-dark);
}
.scrollable::-webkit-scrollbar {
  display: none;
}
@layer base {

 
  
}


.h1-fluid {
  font-size: clamp(20px, 4.5vw, 32px);
}
.h2-fluid {
  font-size: clamp(20px, 4.5vw, 36px);
}
.h3-fluid {
  font-size: clamp(17px, 4.5vw, 22px);
}
.p-fluid {
  font-size: clamp(15px, 2vw, 18px);
}

.form-link-fluid{
  font-size: clamp(16px, 2vw, 16px);
}

